body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.main__cat {
    animation-delay: 4s;
    animation-duration: 12s;
    animation-name: catAppears;
    animation-fill-mode: forwards;
    background-image: url('/cat.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    height: 100%;
    opacity: 0; 
}

@keyframes catAppears {
    0% { 
        background-size: 20%;
        opacity: 0; 
    }
    100% { 
        background-size: 40%;
        opacity: 1; 
    }
}

.main__spider__spider {
    animation-name: spiderRotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;    
    display: block;
    margin: 0 auto;
}

.main__spider__silk {
    background-color: rgba(255, 255, 255, 0.394);
    height: 260px;
    margin: 0 auto;
    width: 1px;
}

.main__spider {    
    animation-duration: 15s;
    animation-name: spiderAppears;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0px;
    left: calc(50vw - 64px)
}

@keyframes spiderAppears {
    0% {
        top: -388px;
    }
    100% {
        top: 0px;
    }
}

@keyframes spiderRotate {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(45deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
